body {
    background-image: url('1.jpg');
    background-size: cover;
}
.centrar-imagen{
    display: block;
    margin: 0 auto;
}
form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 300px;
    margin: auto;
}

h1 {
    text-align: center;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
